{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>

<div>
  <a href="{% url 'create-room' %}">Create Room</a>
  <div>
    {% for room in rooms %}
    <div>
      <a href="{% url 'room' pk=room.id %}">
        <a href="{% url 'update-room' pk=room.id %}">Edit</a>
        <a href="{% url 'delete-room' pk=room.id %}">Delete</a>
        <span>@{{ room.host.username }}</span>
        <h5>{{ room.id }} -- {{ room.name }}</h5>
        <small>{{ room.topic.name }}</small>
      </a>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}